body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 0;
}

.Header {
  border-bottom: 1px solid #ddd;
}

.Body {
  margin: auto;
  width: auto;
  text-align: center;
}

.Card {
  margin-top: 20px;
}

.FormCard {
  width: 600px;
  padding: 20px;
}

.InputField {
  margin-top: 15px;
  margin-bottom: 15px;
}

.DriverButton {
  width: 100px;
  height: 40px;
}